<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.homepage.dto.Comments">
	<resultMap type="Comments" id="comments">
	<id column="commentNo" property="commentNo"/>
	<result column="userId" property="userId"/>
	<result column="commentContent" property="commentContent"/>
	<result column="musicalTitle" property="musicalTitle"/>
	<result column="regDate" property="regDate"/>
	</resultMap>
	
	<insert id = "insertCmt" parameterMap="Comments">
		insert into comments 
		values(#{commentContent},sysdate, #{userId},#{musicalTitle},
        #{commentNo}, #{commentRating})
	</insert>
	
	<delete id = "deleteCmt" parameterType="int">
		delete from comments where comment_No=#{commentNo}
	</delete>

</mapper>

