<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.homepage.dto.Musical">

	<select id="getCurrentMusicals" parameterType="basicMusicalMap">
		select #{MUSICAL_TITLE}, #{MUSICAL_POSTER} from MUSICALS where sysdate>#{START_DATE} and sysdate<#{END_DATE} order by START_DATE
	</select>

	<select id="getPastMusicals" parameterType="basicMusicalMap">
		select #{MUSICAL_TITLE}, #{MUSICAL_POSTER} from MUSICALS where sysdate>#{END_DATE} order by START_DATE
	</select>

	<select id="getFutureMusicals" parameterType="basicMusicalMap">
		select
		#{MUSICAL_TITLE}, #{MUSICAL_POSTER} from MUSICALS where sysdate<#{START_DATE} order by START_DATE
	</select>

	<select id="getMusicals" parameterType="basicMusicalMap">
		select * from MUSICALS where title=#{MUSICAL_TITLE}
	</select>

	<resultMap type="Musical" id="basicMusicalMap">
		<id column="MUSICAL_TITLE" property="title" />
		<result column="MUSICAL_PICTURE" property="musicalPic" />
		<result column="MUSICAL_POSTER" property="poster" />
		<result column="MUSICAL_HALL" property="hall" />
		<result column="START_DATE" property="startDate" />
		<result column="END_DATE" property="endDate" />
		<result column="MUSICAL_CASTING" property="casting" />
	</resultMap>

</mapper>