<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.homepage.dto.Musical">

	<select id="getCurrentMusicals" resultType="Musical">
		select * from MUSICALS where sysdate &gt; #{START_DATE} and sysdate &lt; #{END_DATE} order by START_DATE
	</select>

	<select id="getPastMusicals" resultType="Musical">
		select * from MUSICALS where sysdate &gt; #{END_DATE} order by START_DATE
	</select>

	<select id="getFutureMusicals" resultType="Musical">
		select
		* from MUSICALS where sysdate &lt; #{START_DATE} order by START_DATE
	</select>

	<select id="getMusicals" parameterType="java.lang.String" resultType="Musical">
		select * from MUSICALS where title=#{MUSICAL_TITLE}
	</select>
	
	<select id="currentMusicalCnt" resultType="int">
		select count(*) from MUSICALS where sysdate &gt; #{START_DATE} and sysdate &lt; #{END_DATE} order by START_DATE
	</select>

</mapper>